* {
  font-family: 'Open Sans', sans-serif;
}

/* Since I create a dark theme, the default scroll bar is not adapted, I
tune it a bit for webkit browsers. More work could be needed for other
browsers. */

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
}
body {
  color: #abb2bf;
  background-color: #21252b;
}
a {
  font-weight: bold;
  cursor: pointer;
  transition: all .4s;
  text-decoration: none;
  color: #abb2bf;
}
a:hover {
  color: #282c34;
  background-color: #abb2bf;
}
a.selected {
  color: #282c34;
  background-color: #abb2bf;
}
h2 {
  font-size: 1.1em;
}
.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  overflow: auto;
  width: 1024px;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
}
header {
  position: absolute;
  top: 20px;
  right: 0;
  left: 0;
  overflow: hidden;
  height: 60px;
  margin: 0 auto;
  border-radius: 4px;
  background-color: #282c34;
}
header nav {
  display: flex;
}
header nav a {
  line-height: 60px;
  display: inline-block;
  height: 60px;
  padding: 0 20px;
}
aside {
  position: absolute;
  top: 100px;
  bottom: 20px;
  left: 0;
  overflow: hidden;
  width: 200px;
}
aside input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  transition: background-color .4s;
  color: #abb2bf;
  border: none;
  outline-width: 0;
  background-color: #21252b;
}
aside input:focus {
  outline-offset: 0;
  background-color: #3e4451;
}
aside .nav-container {
  position: absolute;
  top: 96px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
}
aside nav {
  background-color: #282c34;
}
aside nav a {
  font-weight: 400;
  line-height: 20px;
  display: block;
  padding: 10px;
  border-bottom: solid thin #3e4451;
}
aside nav a:last-of-type {
  border: none;
}
section {
  position: absolute;
  top: 100px;
  right: 00px;
  bottom: 20px;
  left: 220px;
  overflow: auto;
}
.table-container {
  overflow: auto;
  max-height: 350px;
  padding: 0 10px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
table th {
  cursor: pointer;
  border-bottom: solid 2px #3e4451;
}
table th.headerSortUp {
  border-bottom: solid 2px #4861a7;
}
table th.headerSortDown {
  border-bottom: solid 2px #4861a7;
}
table th.headerSortDown:after {
  display: inline-block;
  box-sizing: border-box;
  width: 0;
  height: 0;
  margin-bottom: 2px;
  margin-left: 5px;
  content: '';
  border-right: 4px solid transparent;
  border-bottom: 4px solid #4861a7;
  border-left: 4px solid transparent;
}
table th.headerSortUp:after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-bottom: 2px;
  margin-left: 5px;
  content: '';
  border-top: 4px solid #4861a7;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
table td {
  border-top: solid thin #3e4451;
}
table th, table td {
  line-height: 1.5;
  padding: 4px;
  vertical-align: middle;
}
table td.right, table th.right {
  text-align: right;
}
table td.left, table th.left {
  text-align: left;
}
table tbody tr {
  cursor: pointer;
  transition: all .4s;
}
table tbody tr.selected, table tbody tr:hover {
  background-color: #3e4451;
}
.graph-container {
  margin: 20px 0 0 0;
  padding: 10px 10px 0 10px;
  border-radius: 4px;
  background-color: #282c34;
}
.graph-container p {
  font-size: 13px;
  height: 18px;
  margin: 0;
}
.histogram {
  position: relative;
  width: 100%;
  height: 160px;
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
}
.histogram .bar {
  font-size: 0;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 1px;
  border: solid thin #21252b;
  background-color: #3e4451;
}
.histogram .bar:hover {
  background-color: #4861a7;
}
.cv {
  display: block;
  transform: rotate(-2deg);
  -webkit-transform: rotate(-2deg);
  width: 496px;
  height: 680px;
  margin: 40px auto 20px auto;
  background: #fff url(../resources/cv.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.error{
  color:#f66;
}
